// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$download-nodejs-name: 'download-Nodejs';
$download-nodejs-x: 0px;
$download-nodejs-y: 1216px;
$download-nodejs-offset-x: 0px;
$download-nodejs-offset-y: -1216px;
$download-nodejs-width: 575px;
$download-nodejs-height: 187px;
$download-nodejs-total-width: 1925px;
$download-nodejs-total-height: 1403px;
$download-nodejs-image: '../sprite/sprite.png';
$download-nodejs: (0px, 1216px, 0px, -1216px, 575px, 187px, 1925px, 1403px, '../sprite/sprite.png', 'download-Nodejs', );
$fluxo-git-name: 'fluxo-git';
$fluxo-git-x: 1394px;
$fluxo-git-y: 728px;
$fluxo-git-offset-x: -1394px;
$fluxo-git-offset-y: -728px;
$fluxo-git-width: 405px;
$fluxo-git-height: 262px;
$fluxo-git-total-width: 1925px;
$fluxo-git-total-height: 1403px;
$fluxo-git-image: '../sprite/sprite.png';
$fluxo-git: (1394px, 728px, -1394px, -728px, 405px, 262px, 1925px, 1403px, '../sprite/sprite.png', 'fluxo-git', );
$git-bash-name: 'git-bash';
$git-bash-x: 0px;
$git-bash-y: 774px;
$git-bash-offset-x: 0px;
$git-bash-offset-y: -774px;
$git-bash-width: 513px;
$git-bash-height: 402px;
$git-bash-total-width: 1925px;
$git-bash-total-height: 1403px;
$git-bash-image: '../sprite/sprite.png';
$git-bash: (0px, 774px, 0px, -774px, 513px, 402px, 1925px, 1403px, '../sprite/sprite.png', 'git-bash', );
$git-command-prompt-name: 'git-command-prompt';
$git-command-prompt-x: 0px;
$git-command-prompt-y: 332px;
$git-command-prompt-offset-x: 0px;
$git-command-prompt-offset-y: -332px;
$git-command-prompt-width: 514px;
$git-command-prompt-height: 402px;
$git-command-prompt-total-width: 1925px;
$git-command-prompt-total-height: 1403px;
$git-command-prompt-image: '../sprite/sprite.png';
$git-command-prompt: (0px, 332px, 0px, -332px, 514px, 402px, 1925px, 1403px, '../sprite/sprite.png', 'git-command-prompt', );
$git-logo-name: 'git-logo';
$git-logo-x: 1394px;
$git-logo-y: 0px;
$git-logo-offset-x: -1394px;
$git-logo-offset-y: 0px;
$git-logo-width: 531px;
$git-logo-height: 324px;
$git-logo-total-width: 1925px;
$git-logo-total-height: 1403px;
$git-logo-image: '../sprite/sprite.png';
$git-logo: (1394px, 0px, -1394px, 0px, 531px, 324px, 1925px, 1403px, '../sprite/sprite.png', 'git-logo', );
$instacao-nodejs-name: 'instacao-nodejs';
$instacao-nodejs-x: 553px;
$instacao-nodejs-y: 774px;
$instacao-nodejs-offset-x: -553px;
$instacao-nodejs-offset-y: -774px;
$instacao-nodejs-width: 495px;
$instacao-nodejs-height: 387px;
$instacao-nodejs-total-width: 1925px;
$instacao-nodejs-total-height: 1403px;
$instacao-nodejs-image: '../sprite/sprite.png';
$instacao-nodejs: (553px, 774px, -553px, -774px, 495px, 387px, 1925px, 1403px, '../sprite/sprite.png', 'instacao-nodejs', );
$instalacao-git-windows-name: 'instalacao-git-windows';
$instalacao-git-windows-x: 840px;
$instalacao-git-windows-y: 0px;
$instalacao-git-windows-offset-x: -840px;
$instalacao-git-windows-offset-y: 0px;
$instalacao-git-windows-width: 514px;
$instalacao-git-windows-height: 402px;
$instalacao-git-windows-total-width: 1925px;
$instalacao-git-windows-total-height: 1403px;
$instalacao-git-windows-image: '../sprite/sprite.png';
$instalacao-git-windows: (840px, 0px, -840px, 0px, 514px, 402px, 1925px, 1403px, '../sprite/sprite.png', 'instalacao-git-windows', );
$logo-nodejs-name: 'logo-nodejs';
$logo-nodejs-x: 1394px;
$logo-nodejs-y: 364px;
$logo-nodejs-offset-x: -1394px;
$logo-nodejs-offset-y: -364px;
$logo-nodejs-width: 530px;
$logo-nodejs-height: 324px;
$logo-nodejs-total-width: 1925px;
$logo-nodejs-total-height: 1403px;
$logo-nodejs-image: '../sprite/sprite.png';
$logo-nodejs: (1394px, 364px, -1394px, -364px, 530px, 324px, 1925px, 1403px, '../sprite/sprite.png', 'logo-nodejs', );
$nodejs-versao-name: 'nodejs-versao';
$nodejs-versao-x: 0px;
$nodejs-versao-y: 0px;
$nodejs-versao-offset-x: 0px;
$nodejs-versao-offset-y: 0px;
$nodejs-versao-width: 800px;
$nodejs-versao-height: 292px;
$nodejs-versao-total-width: 1925px;
$nodejs-versao-total-height: 1403px;
$nodejs-versao-image: '../sprite/sprite.png';
$nodejs-versao: (0px, 0px, 0px, 0px, 800px, 292px, 1925px, 1403px, '../sprite/sprite.png', 'nodejs-versao', );
$screen-shot-name: 'screen-shot';
$screen-shot-x: 840px;
$screen-shot-y: 442px;
$screen-shot-offset-x: -840px;
$screen-shot-offset-y: -442px;
$screen-shot-width: 405px;
$screen-shot-height: 262px;
$screen-shot-total-width: 1925px;
$screen-shot-total-height: 1403px;
$screen-shot-image: '../sprite/sprite.png';
$screen-shot: (840px, 442px, -840px, -442px, 405px, 262px, 1925px, 1403px, '../sprite/sprite.png', 'screen-shot', );
$spritesheet-width: 1925px;
$spritesheet-height: 1403px;
$spritesheet-image: '../sprite/sprite.png';
$spritesheet-sprites: ($download-nodejs, $fluxo-git, $git-bash, $git-command-prompt, $git-logo, $instacao-nodejs, $instalacao-git-windows, $logo-nodejs, $nodejs-versao, $screen-shot, );
$spritesheet: (1925px, 1403px, '../sprite/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
